{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Discussion Forums{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .form-white.input-group>.form-control:focus
        {
            border-color: #fff;
            box-shadow: inset 0 0 0 1px #fff;
        }

        .navbar-dark .navbar-nav .nav-link
        {
            color: #fff;
        }

        .navbar-dark .navbar-nav .nav-link:hover,
        .navbar-dark .navbar-nav .nav-link:focus
        {
        color: rgba(255, 255, 255, 0.75);
        }
        .material-symbols-outlined
        {
            font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% block javascript %}
    {% endblock javascript %}
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0088cc;">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Discussion Forum</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{% url 'livechat' %}">Live Chat</a>
                      </li>
                    </ul>
                    <ul class="navbar-nav d-flex flex-row ms-auto me-3">
                      {% if user.is_authenticated %}
                      <li class="nav-item me-3 me-lg-0">
                        <a class="nav-link" href="{% url 'thread_new' %}" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
                          aria-expanded="false">
                          <i class="fas fa-plus">+ New Thread</i>
                        </a>
                      </li>
                      <li class="nav-item me-3 me-lg-0 dropdown">
                        <button class="btn  btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0088cc; border-style: hidden;">
                          {{ user.username }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          {% if user.profile.id %}
                            <li><a class="dropdown-item" href="{% url 'user_profile' user.profile.id%}">Profile</a></li>
                          {% else %}
                            <li><a class="dropdown-item" href="{% url 'create_user_profile_page' %}">Create Profile Page</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_settings' %}">Settings</a></li>
                          {% endif %}
                          <li><a class="dropdown-item" href="{% url 'password' %}">Change Password</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          </li>
                        </ul>
                      </li>
                      {%else%}
                      <li><a href="{% url 'login' %}" class="btn btn-primary me-2" style="background-color:#0088cc;">Log In</a></li>
                      <li><a href="{% url 'signup' %}" class="btn btn-primary" style="background-color:#0088cc;">Sign Up</a></li>
                    {%endif%}
                    <li class="nav-item me-3 me-lg-0 dropdown">
                      <button class="btn  btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0088cc; border-style: hidden;">
                        Alerts<span class="new badge bg-danger">{{ count_notifications }}</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        {% if not count_notifications %}
                        <li><a class="dropdown-item" href"#">You have no alerts</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'show_notifications' %}">Would you like to go to your notifications page?</a></li>
                        {% endif %}
                      </ul>
                    </li>
                    <li class="nav-item me-3 me-lg-0 dropdown">
                      <button class="btn  btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #0088cc; border-style: hidden;">
                        Messages<span class="new badge bg-danger">{{ count_messages }}</span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-end">
                        {% if user.profile.id %}
                        <li><a class="dropdown-item" href="{% url 'message_inbox' %}">Go there?</a></li>
                        {% else %}
                        <li><a class="dropdown-item" href="{% url 'create_user_profile_page' %}">Please make a profile page first</a></li>
                        {% endif %}
                      </ul>
                    </li>
                    <a class="dropdown-menu" href="#">Change Password</a>
                    <li class="nav-item me-3 me-lg-0">
                      <form class="d-flex" method="post" action="{% url 'search_result' %}">
                        {% csrf_token %}
                      <input class="form-control me-2"type="search" placeholder="Search Thread Name" aria-label="Search" name="searched">
                      <button class="btn btn-outline-light btn-success " type="submit">
                      Search
                    </button>
                  </li>
                  </form>
                    </ul>
                  </div>
                </div>
              </nav>
        </div>
        <main>
          <div class="container">
            <div class="row">
              {% block content %}
              {% endblock content %}

              
            </div>
          </div>
          {% block icons %}
          {% endblock icons %}
        </main>
      </div>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'js/init.js' %}"></script>
</body>
</html>