{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Notifications{% endblock title %}
{% block content %}
<h2>Your notifications:</h2>
{% if count_notifications != 0 %}
{% for noti in notifications %}

<div class="card">
    {% if noti.sender.id == user.id %}
      <ul>
          <li>
              {% if noti.notification_type == 1 %}
                  You liked on your own <a href="{% url 'thread_detail' noti.thread.id%}">thread</a>!
              {% elif noti.notification_type == 2 %}
                  You commented on your own <a href="{% url 'thread_detail' noti.thread.id%}">thread</a>!
              {% elif noti.notification_type == 3 %}
                  You watched on your own <a href="{% url 'thread_detail' noti.thread.id%}">thread</a>!
              {% endif %}
          <p class="text-right">
              <a class="secondary-content" href="{% url 'delete_notifications' noti.id %}">Delete</a>
          </p>
          </li>
        </ul>
      </div>
    {% else %}
      <ul>
          <li class="collection-item avatar">
          {{ noti.text_preview }}
          <p>
            <a href="{% url 'thread_detail' noti.thread.id%}">go there?</a>
          </p>
          <p class="text-right">
              <a class="secondary-content" href="{% url 'delete_notifications' noti.id %}">Delete</a>
          </p>
          </li>
        </ul>
        </div>
    {% endif %}
{% endfor %}
{% if notifications.paginator.num_pages > 2 %}
<nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        {% if notifications.has_previous %}
        <a class="page-link" href="?page={{notifications.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only"></span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="#">...</a></li>
      {% endif %}
      
      <li class="page-item active">
        <a class="page-link" href="{{notifications.number }}">{{notifications.number}} <span class="sr-only"></span></a>
      </li>

      <li class="page-item">
        {% if notifications.has_next %}
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item"><a class="page-link" href="?page={{notifications.paginator.num_pages}}">{{notifications.paginator.num_pages}}</a></li>
        <a class="page-link" href="?page={{notifications.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only"></span>
        </a>
      </li>
      {% endif %}
      {% else %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            {% if notifications.has_previous %}
            <a class="page-link" href="?page={{notifications.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}
          <li class="page-item"><a class="page-link" href="{{notifications.number }}">{{notifications.number}}</a></li>
          {% if notifications.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{notifications.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
    </ul>
  </nav>
<hr><br><br>
{% else %}
    <div class="center-align">
        <br><br>
            <h4>You have no notifications</h4>
    </div>
{% endif %}
{% endblock content %}