{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="center" style="padding: 10%;">
    <div class="container" style="background-color: #c0daf1; padding: 5%; border: 1px solid #205d92; border-radius: 25px;">
        <h4 style="color: #205d92; font-family: 'Sono', sans-serif">An email with instructions to reset password has been sent to your registered mail. If you don't see the 
            email in your inbox then check in your spam folder. If you don't see the mail even there, make sure you have entered the right mail ID.
        </h4>
    </div>
</div>
{% endblock content %}