{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="center" style="padding: 10%;">
    <div class="container" style="background-color: #c0daf1; padding: 5%; border: 1px solid #205d92; border-radius: 25px;">
        <h4 style="color: #205d92; font-family: 'Sono', sans-serif">Your password reset is successful. Log in with new credentials
        </h4>
    </div>
    <a style="padding: 5%;" href="{% url 'auth_login_student' %}"><h4>Login</h4></a>
</div>
{% endblock content %}