{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .office a{
        text-decoration: none;
        color: #5697BF;
    }
    .office a:hover{
        text-decoration: none;
        color: white;
    }
    .office:hover{
        background-color: #5697BF;
        color: white;
    }
    
    .office:hover a{
        background-color: #5697BF;
        color: white;
    }
    .office{
        margin-top: 3%;
        color: #5697BF;
        border: 1px solid #5697BF;
        margin-right: 3%;
        border-radius: 10px;
    }
</style>
<div class="row">
    <div class="col-1"></div>
    <div class="col info_img">
        <img src="{% static 'info_tab.png' %}"></img>
    </div>
    <div class="col padding wrap">
        <h3 class="caption">Welcome to CSE </h3>
        <p class="subcaption">Please login or register to continue.</p>
        <div style="width: 50%;"><h5>{% include 'auth/messages.html'%}</h5></div>
        <div class="list-style">
            <ul>
                {% if olink %}
                <li class="office"><a href="{% url olink %}">{{ olink_title }}</a></li><br>
                {% endif %}
                <li class="student"><a href="{% url flink %}">{{ flink_title }}</a></li>
                <li class="faculty"><a href="{% url slink %}">{{ slink_title }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}