{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col info_img">
        <img src="{% static 'info_tab.png' %}"></img>
    </div>
    <div class="col padding wrap">
        <h3 class="caption">Welcome to Proctor Management</h3>
        <p class="subcaption">Please login or register to continue.</p>
        <div style="width: 50%;"><h5>{% include 'auth/messages.html'%}</h5></div>
        <div class="list-style">
            <ul>
                <li class="student"><a href="{% url flink %}">{{ flink_title }}</a></li>
                <li class="faculty"><a href="{% url slink %}">{{ slink_title }}</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}