{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-1"></div>
    <div class="col info_img">
        <img src="{% static 'faculty.png' %}"></img>
    </div>
    <div class="col padding wrap">
        <h3 class="caption">Faculty Register</h3>
        <p class="subcaption">Register to CSE Web App</p>
        <div style="width: 50%;"><h5>{% include 'auth/messages.html'%}</h5></div>
        <form method ="post" action="{% url 'auth_register_faculty' %}">
            {% csrf_token %}
            <div class="position" style="margin-bottom: 3%; width: 60%;">
                <label for="exampleInputName1" class="form-label text">Name</label>
                <input name="name" type="text" class="form-control border " placeholder="Name" id="exampleInputName1" aria-describedby="emailHelp">
            </div>
            <div class="position" style="margin-bottom: 3%; width: 60%;">
                <label for="exampleInputEmail1" class="form-label text">Email address</label>
                <input name="email" type="email" class="form-control border " placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="position" style="margin-bottom: 3%; width: 60%;">
                <label for="exampleInputPassword1" class="form-label text">Password</label>
                <input name="password" type="password" class="form-control border " placeholder="Passward" id="exampleInputPassword1">
            </div>
            <div class="position" style="margin-bottom: 3%; width: 60%;">
                <label for="exampleInputPassword2" class="form-label text">Confirm Password</label>
                <input name="confirm_password" type="password" class="form-control border" placeholder="Confirm Passward" id="exampleInputPassword2">
            </div>
            <div>
                <button style="background-color: #1b62bf; border: none; width: 60%; border-radius: 5px; padding: 1%; color: white" type="submit">Register</button>
            </div>
        </form>
        <div style="font-family: 'Sans', sans-serif; font-weight: bold; margin-top: 5%;">
            <p>Already have an account? <a href="{% url 'auth_login_faculty' %}">Sign In</a></p>
        </div>
    </div>
</div>
{% endblock content %}