<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>
<h4 class="text">{{message}}</h4>
<br>
<br>
Regards
<h3 class="text" style="color: grey;">{{name}}</h3>
<p class="text" style="color: grey;">{{designation}}</p>
<p class="text" style="color: grey;">Department of Computer Science & Engg,</p>
<p class="text" style="color: grey;">BMS College of Engineering,</p>
<p class="text" style="color: grey;">Bull Temple Road,</p>
<p class="text" style="color: grey;">Bangalore-560019.</p>

</body>
</html>