{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% comment %} {% block content %}


<h4>Active Conversations:</h4>
{% for message in messages %}
<div class="card">
    <div class="card-header">
            {% if message.sender.profile.pfp %}
            <img src="{{message.sender.profile.pfp.url}}" width=20 height=20>
            {% else %}
            <img src="{% static 'threads/images/default_profile.jpg' %}" width=20 height=20 class="rounded">
            {% endif %}
            <a href="{% url 'user_profile' message.sender.profile.id %}">{{ message.sender }}</a>
            | {{ message.date  }}</span>
    </div>
    <div class="card-body">
            {{ message.body }}
    </div>
<div class="card-footer">
    <h4>Send Message:</h4>
    <form method="post" action="{% url 'send_messages' %}">
        {% csrf_token %}
        <input type="hidden" name="to_user_id" value="{{message.sender.id}}"></input>
        <div class="form-outline">
            <textarea class="form-control" name="body" id="body" class="validate" rows="4"></textarea>
            <label class="form-label" for="body">Message</label>
          </div>
        <button type="submit" class="btn btn-success ml-2">Submit</button>
    </form>
</div>
</div>
<br><br>
{% endfor %}
{% endblock content %} {% endcomment %}

{% load humanize %}
{% block content %}

<div class="col s12 m4">
<ul class="list-group">
    <li class="list-group-item">
        <h5>Active chats</h5>
    </li>
    {% for message in messages %}
    <a style="color: gray;" href="{% url 'directs' message.recipient.id  %}">
        <li class="list-group-item avatar {% if active_direct == message.recipient.id %}active {% endif %}">
        {% if message.recipient.profile.pfp %}
            <img src="{{ message.recipient.profile.pfp.url }}" width=20 class="circle responsive-img">
        {% else %}
            <img src="{% static 'threads/images/default_profile.jpg' %}" width=20 height=20 class="circle responsive-img">
        {% endif %}
            <span class="title">{{ message.recipient.first_name }} {{ message.recipient.last_name }}</span>
            <p><b>@{{ message.recipient.username }}</b></p>
            <span class="new badge bg-danger">{{ message.unread }}</span>
            <a href="" class="secondary-content red-text"><i class="material-icons">delete</i></a>
        </li>
    </a>
    {% endfor %}

</div>

<div style="overflow-y: scroll;" class="col s12 m8 accordion-body">
    <div style="max-width: 600px;" class="card">
        <div class="card-content">
            {% if directs.has_next %}
            <center>
                <a id="loadmorebtn" class="btn btn-primary btn-md" onclick="myFunction()"><i class="material-icons left">add</i>Load more</a>
                <input id="page_number" type="hidden" name="page_number" value="{{ directs.next_page_number }}">
            </center>
            {% endif %}
            <ol id="oldirects" style="list-style-type: none; display: flex; flex-direction: column-reverse;" class="collection">
            {% for direct in directs %}
                <li style="border-bottom: 0px; border-top: 10px" class="collection-item avatar">
                    {% if direct.sender.profile.pfp %}
                    <br>
                        <img src="{{ direct.sender.profile.pfp.url }}" width=50 height=50 class="circle responsive-img">
                    {% else %}
                        <img src="{% static 'threads/images/default_profile.jpg' %}" width=50 height=50 class="circle responsive-img">
                    {% endif %}
                    <span class="title"><b>{{ direct.sender.first_name }} {{ direct.sender.last_name }}</b></span>
                    <p>{{ direct.body }}</p>
                    <p class="text-end">
                        <i>{{ direct.date | naturaltime }}
                        </i>
                    </p>
                    <hr>
                </li>  
            {% endfor %}
            </ol>
    <div class="card-action">
        <div class="row">
            <form id="senddirectform" method="POST" action="{% url 'send_messages' %}">
                {% csrf_token %}
                <div class="input-field col s9">
                    <input type="hidden" name="to_user_id" value="{{ active_direct }}">
                    <span>
                    <textarea id="text" name="body" type="text" class="validate"></textarea>
                    <label for="text">Type your message</label>
                    </span>
                  </div>
                  <div class="input-field col s9">
                  <button class="btn waves-effect waves-light" type="submit" name="action">Send
                    <i class="material-icons right">send</i>
                  </button>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}

{% block javascript %}
<script type="text/javascript">
    // This is for the AJAX request in loadmore.js script. So we can send post request.
    // Because csrf_token is neccesary for ajax requests.
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
<script src="{% static 'js/loadmore.js' %}"></script>
{% endblock javascript %}