{% extends '../base.html' %} {% load static %} {% block content %}
<style>
  .notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
  }


  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
<button class="website notification" style="padding: 1%; margin-left: 45%">
  <a style="text-decoration: none" href="{% url 'student:register' %}"
    ><span>Register Courses</span><span class="badge">{{req}}</span
  ></a>
</button>
<button class="website notification" style="padding: 1%; margin-left: 15%">
  <a style="text-decoration: none" href="{% url 'student:edit'  %}"
    ><span>Edit</span></a>
</button>
<button class="website notification" style="padding: 1%; margin-left: ">
  <a style="text-decoration: none" href="{% url 'student:marks' usn  %}"
    ><span>View your marks</span></a>
</button>
<div class="center" style="padding: 2%">
  <div class="center" style="padding: 1%;">
    <div class="container" style="background-color: #c0daf1; padding: 1%; border: 1px solid #205d92; border-radius: 25px;">
        <h4 style="color: #205d92; font-family: 'Sono', sans-serif">Courses registered for semester {{sem}}
        </h4>
    </div>
</div>
  <table>
    <tr>
      <th>Sl.no</th>
      <th>Course Code</th>
      <th>Course Name</th>
      <th>Credits</th>
      <th>Registration</th>
      <th>Attempt No</th>
    </tr>
    {% for course in courses %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{course.courseCode}}</td>
      <td>{{course.courseName}}</td>
      <td>{{course.credit}}</td>
      <td>{{course.registration}}</td>
      <td>{{course.attemptNumber}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
<div>
  <center>
    <button class="website notification" style="padding: 1%">
      <a style="text-decoration: none" href="{% url 'student:student_details_form' %}"
        ><span>Add Student Details</span></a>
    </button>
  </center>
</div>
{% endblock content %}
