{% extends '../base.html' %} {% load static %} {% block content %}
<style>
  .notification {
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
  }


  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>
{% for i in sems %}
<div class="center" style="padding: 2%">
  <div style="background-color: #c0daf1; padding: 1%; border: 1px solid #205d92; border-radius: 25px; margin-bottom: 2%; width: 25%;">
      <h4 style="color: #205d92; font-family: 'Sono', sans-serif">Semester {{i}}
      </h4>
  </div>
<table>
  <tr>
    <th>Course Name</th>
    <th>Credits</th>
    <th>Registration</th>
    <th>Attempt No</th>
    <th>Attendence</th>
    <th>CIE</th>
    <th>SEE</th>
    <th>Grade Points</th>
  </tr>
  {% for course in courses %}
  {% if course.sem == i %}
  <tr>
    <td>{{course.courseName}}</td>
    <td>{{course.credit}}</td>
    <td>{{course.registration}}</td>
    <td>{{course.attemptNumber}}</td>
    <td>{{course.attendance}}</td>
    <td>{{course.CIE}}</td>
    <td>{{course.SEE}}</td>
    <td>{{course.GradePoints}}</td>
  </tr>
  {% endif %}
  {% endfor %}
</table>
</div>
{% endfor %}
{% endblock content %}