{% extends 'base.html' %}

{% block title %}Discussions{% endblock title %}

{% block content %}
<h2> Discussions</h2>
{% comment %} {% for thread in thread_list %} {% endcomment %} 
{% for thread in qs %}
<div class="card">
    <div class="card-header">
        <span class="font-weight-bold"><a href="{% url 'thread_detail' thread.pk %}">{{ thread.title }}</a></span> &middot;
        <span class="text-muted">by {{ thread.author }} | {{ thread.date}}</span>
        <form action="{% url 'like_thread' %}" method = "POST" class="ui form">
            {% csrf_token %}
            <input type="hidden" name="thread_id" value="{{ thread.id }}">
            {% if user not in thread.liked.all and user not in thread.dislike.all %}
                <button class="btn btn bg-success" type="submit">Like</button>
            {% elif user in thread.liked.all and user not in thread.dislike.all  %}
                <button class="btn btn bg-danger" type="submit">Unlike</button>
            {% endif %}
        </form>
        {% comment %} dislikes {% endcomment %}
        <form action="{% url 'dislike_thread' %}" method = "POST" class="ui form">
            {% csrf_token %}
            <input type="hidden" name="thread_id" value="{{ thread.id }}">
            {% if user not in thread.dislike.all and user not in thread.liked.all  %}
                <button class="btn btn bg-danger" type="submit">DisLike</button>
            {% elif user in thread.dislike.all%}
                <button class="btn btn bg-success" type="submit">Undo</button>
            {% endif %}
        </form>
        <strong>{{ thread.liked.all.count }} likes, {{ thread.dislike.all.count }} dislikes</strong>
    </div>
    <div class="card-body">
        {{ thread.body }}
    </div>
    <div class="card-footer">
        <h4>Comments</h4><hr>
        {% for comment in thread.comment_set.all %}
        <p>            
          <span class="font-weight-bold">{{ comment.author }}</span><br>
          {{ comment }}<hr>
        </p>
        {% endfor %}
    </div>
</div>
<br>
{% endfor %}
{% endblock content %}