{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="article-entry card">
    <div class="card-header">
        <h2>{{ object.title }}</h2>
        <p>
            by 
            {% if object.author.profile.pfp %}
                <img src="{{ object.author.profile.pfp.url}}" width=40 height=40 class="rounded">
            {% else %}
                <img src="{% static 'threads/images/default_profile.jpg' %}" width=40 height=40 class="rounded">
            {% endif %}
            <a href="{% url 'user_profile' object.author.profile.id %}">{{ object.author }}</a> | {{ object.date }}
        </p>
        <p>
            {{ object.category }}
        </p>
    </div>
    <p class="card-body">
        {% if object.thread_image %}
            <img src="{{ object.thread_image.url}}" width=100 height=100><br>
        {% endif %}
        {{ object.body }}
    </p>
<p>
    {% if user.id == object.author.id  %}
        <a href="{% url 'thread_edit' object.pk %}">Edit</a> | <a href="{% url 'thread_delete' object.pk %}">Delete</a><br>
    {% endif %}
</p>
</div>
<form action="{% url 'like_thread' %}" method = "POST" class="ui form">
    {% csrf_token %}
    <input type="hidden" name="thread_id" value="{{ object.id }}">
    {% if user not in object.liked.all and user not in object.dislike.all %}
        <button class="btn btn bg-success" type="submit">Like</button>
    {% elif user in object.liked.all and user not in object.dislike.all  %}
        <button class="btn btn bg-danger" type="submit">Unlike</button>
    {% endif %}
</form>
{% comment %} dislikes {% endcomment %}
<form action="{% url 'dislike_thread' %}" method = "POST" class="ui form">
    {% csrf_token %}
    <input type="hidden" name="thread_id" value="{{ object.id }}">
    {% if user not in object.dislike.all and user not in object.liked.all  %}
        <button class="btn btn bg-danger" type="submit">DisLike</button>
    {% elif user in object.dislike.all%}
        <button class="btn btn bg-success" type="submit">Undo</button>
    {% endif %}
</form>
<form action="{% url 'watch' %}" method = "POST" class="ui form">
    {% csrf_token %}
    <input type="hidden" name="thread_id" value="{{ object.id }}">
    {% if user not in object.watched.all  %}
        <button class="btn btn bg-info" type="submit">Watch</button>
    {% else %}
        <button class="btn btn bg-danger" type="submit">Unwatch</button>
    {% endif %}
</form>
<strong>{{ object.liked.all.count }} likes, {{ object.dislike.all.count }} dislikes, {{object.watched.all.count}} Watched</strong>
<div>
    <h4>Comments:</h4><hr>
    {% for comment in object.comment_set.all %}
    <p>
        {{ comment.author }}:<br>{{ comment }}<hr>
        <form action="{% url 'delete_comment' %}" method = "POST" class="ui form">
            {% csrf_token %}
            <input type="hidden" name="thread_id" value="{{ object.id }}">
            {% if user.id == comment.author.id %}
            <button class="btn btn bg-danger" type="submit">Delete</button>
            {% endif %}
        </form>
    </p>
    {% endfor%}
</div>
<div>
    <h4>Add a comment</h4>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success ml-2">Submit</button>
    </form>
</div>
<p>
    Do you want to go back to <a href="{% url 'category' object.category%}">{{object.category}}</a>
</p>
{% endblock content %}