{% extends 'cie_allocator_base.html' %}
{% load static %}

{% block content %}
<form action="{% url 'cie_allocator_student_view' %}" method="post">
    {% csrf_token %}
    <label for="exams">Choose a exam:</label>

    <!-- TODO: make it dynamic -->
    <select name="exams" id="exams">
        <option value="CIE 1">CIE 1</option>
        <option value="CIE 2">CIE 2</option>
        <option value="CIE 3">CIE 3</option>
    </select>

    <button type="submit">Check</button>
</form>

{% if rooms_data %}
    <table>
        <tr>
            <th>Course</th>
            <th>Room</th>
        </tr>
        {% for data in rooms_data %}
            <tr>
                {% for ele in data %}
                    <td>{{ ele }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% endblock content %}