{% extends 'cie_allocator_base.html' %}
{% load static %}

{% block content %}

<p class="fs-2 d-flex justify-content-center align-items-center p-1">Download Template</p>
<a href="{% url 'exam_allocator_office_assign_invigilators_download_template' %} "class="fs-3 d-flex justify-content-center align-items-center  p-1">
    <button type="button" class="btn btn-outline-success fs-5 ">Download</button>
</a>

<p class="fs-3 m-2 d-flex justify-content-center align-items-center p-3">Upload</p>
<form action="{% url 'exam_allocator_office_assign_invigilators_upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="fs-5 m-2 d-flex justify-content-center align-items-lg-center p-0" >
    <label for="date">Select invigilation date:</label>
    <input type="date" name="date">
</div>
    <br>
    <div class="fs-5 m-2 d-flex justify-content-center align-items-lg-center p-0" >
    <label for="time">Select invigilation time:</label>
    <input type="time" name="time">
</div>
    <br>
    <div class="fs-5 m-3 d-flex justify-content-center align-items-lg-center p-0" >
    <input type="file" name="excel_file">
    <br> 
    <button type="submit">Send Email/Notification</button>
</div>
</form>

{% endblock content %}