{% extends 'cie_allocator_base.html' %}
{% load static %}

{% block content %}

<p class="fs-2">Select Semester</p>
<form name ="form" action="{% url 'exam_allocator_office_dashboard' %}" method="post">
    {% csrf_token %}
    <label for="semester">Choose a semester to assign room:</label>
    <select name="semester">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select>
    <br>
    <button type="submit">Submit</button>
</form>

{% endblock content %}
